:root {
  color-scheme: ht-cms;
  /* 本项目自定义变量 */
  // @theme-color: rgb(88, 83, 241);
  @theme-color: rgb(76, 76, 239); // type=parimary 颜色
  --ht--blue-color: #3096d9;
  --ht--bg-color: @theme-color;
  --ht--bg-color-light: rgba(55, 179, 131, 0.3);

  /* 复写第三方变量 */
  --el-menu-text-color: #f2f2f2;
  --el-menu-bg-color: #354058;
  --el-menu-active-color: var(--ht--bg-color);
  --el-menu-hover-bg-color: var(--ht--bg-color-light);

  --el-color-primary: var(--ht--bg-color);
  --el-color-primary-light-5: lighten(@theme-color, 30%); // 按钮禁用颜色
  --el-color-primary-light-2: lighten(@theme-color, 20%);
  --el-color-primary-light-3: lighten(@theme-color, 20%); // 按钮hover颜色
  --el-color-primary-dark-2: darken(@theme-color, 20%);
  --el-bg-color-overlay: var(--vicom-bg-color);
  --el-input-text-color: #ffffff;
  --el-fill-color-blank: var(--vicom-bg-color);
  --el-text-color-regular: #ffffff;
  --vicom-bg-color: #151517;
  --vicom-icon-color: #98989b;
  --vicom-icon-active-color: #ffffff;
  --vicom-primary: rgb(76, 76, 239);
  --vicom-border-color: #39393a;
}

.el-table {
  --el-table-header-bg-color: #ededed;
  --el-table-border-color: #d7d7d7;
  --el-table-header-text-color: rgb(55, 55, 55);
}
